.idea/
.python-version
__pycache__/
airflow.cfg
airflow_back.cfg
airflow.db
logs/
logs/*.log
logs/**/*.log
unittests.cfg
unittests.db
webserver_config.py

.DS_Store
__pycache__
venv
connections.yaml

/.vscode
/airflow-webserver.pid
/airflow.cfg
/airflow.db
/logs
/webserver_config.py


connections_minio_pg.yaml